/* <system section="theme" selected="8599973812333959601"> */
@import url("https://blog.hatena.ne.jp/-/theme/8599973812333959601.css");
/* </system> */

/*はてなスター*/
.star-container {
   display : none;
}

/* 記事タイトル */
.entry-title a{
    font-size: 24px; /* 文字サイズ */
    line-height: 1.6; /* 行の高さ */
}


/* 目次 */
.table-of-contents a {
    font-size: 17px; /* 文字サイズ */
}

.entry-content h2{
color: white;
background: #38b48b;/*背景色*/
padding: 0.5em;/*文字まわり（上下左右）の余白*/
margin-top: 2.0em;
}

.entry-content h3{
color: white;
background: #80aba9;/*背景色*/
padding: 0.5em;/*文字まわり（上下左右）の余白*/
margin-top: 2.0em;
}

.entry-content content{
font-color: #101010;
}

.entry-description{
  display : none;
}